<title>MADTEC | Consulting - Websites - Applications - Online marketing</title>{{> menu}}<div class=hero id=home data-interchange="[/img/front--small.jpg, (small)], [/img/front--medium.jpg, (medium)], [/img/front--large.jpg, (large)], [/img/fondo.jpg, (xlarge)], [/img/front--xlarge.jpg, (retina)]"><div class="row intro"><div class="small-centered large-uncentered text-left medium-8 large-5 large-offset-7 columns"><h1 class=large-text-left>When your business meets a Hero.</h1><p class=large-text-left>Consulting - Websites - App - eCommerce - Online marketing</p></div></div></div><script type=text/javascript>
$(document).foundation('interchange', 'reflow');
$(function() {
  var open = false;
  $('#menu-button, #container-exit').click(function(event){
    event.preventDefault();
    if(!open){
      $('#menu-button').addClass('close');
      $('#side-menu').addClass('menu-open');
      $('#container-exit').addClass('exit-menu');
      open = true;
    }
    else{
      $('#menu-button').removeClass('close');
      $('#side-menu').removeClass('menu-open');
      $('#container-exit').removeClass('exit-menu');
      open = false;
    }
  });
});
</script>