<title>MADTEC | What we do</title><div id=bg__services class=bg--full-fixed></div>{{> menu}}<main id=fullpage class="small-text-center large-text-left wow fadeInUp" data-wow-duration=1s data-wow-delay=0s role=main><section class="card small-12" data-wow-duration=1s data-wow-delay=0s><div class=row><div class="small-12 large-6 columns"><h2 class=card__title>the tools to grow</h2><ul class="inline-list no-bullet small-centered card__description"><li class=button--shadow data-tab=#websites>websites</li><li class=button--shadow data-tab=#ecommerce>e-commerce</li><li class=button--shadow data-tab=#apps>apps</li></ul></div><div class="small-12 large-6 columns"><div id=websites class="row card__detail"><div class="small-12 small-only-text-center media__content column"><p>We create stunning websites with a responsive design so your brand is always looking its best no matter which device or screen it's being viewed on.</p></div><div class="small-6 medium-4 small-centered media__img column"><img src=/img/branding.svg class=icon></div></div><div id=ecommerce class="row card__detail"><div class="small-12 small-only-text-center media__content column"><p>To give you control over customizing and managing your online shop, we use only the best platforms—shopify, woocommerce, magento—paired with a personalized design and your own touch to give you and your customers the most gratifying experience.</p><p>Need extra features? We can do add those too.</p></div><div class="small-6 medium-4 small-centered media__img column"><img src=/img/ia.svg class=icon></div></div><div id=apps class="row card__detail"><div class="small-12 small-only-text-center media__content column"><p>Whatever it is you need control over (uploading pictures from time to time, creating customer accounts, managing online catalog…) we set you up with the best tools to get the job done right.</p><p>Have an awesome idea for an app? We can build it for you.</p></div><div class="small-6 medium-4 small-centered media__img column"><img src=/img/design.svg class=icon></div></div></div></div></section><section class="card small-12" data-wow-duration=1s data-wow-delay=0s><h2 class=card__title>be the talk of the town</h2><ul class="inline-list no-bullet card__description"><li class=bg--orange>online marketing</li><li class=bg--purple>social strategy</li><li class=bg--green>newsletters</li></ul></section><section class="card small-12" data-wow-duration=1s data-wow-delay=0s><h2 class=card__title>a story that sells</h2><ul class="inline-list no-bullet card__description"><li class=bg--green>copywriting</li><li class=bg--yellow>blogging</li><li class=bg--purple>photography & video</li></ul></section><section class="card small-12"><h2 class=card__title>a brand that's irresistible</h2><ul class="inline-list no-bullet card__description"><li class=bg--purple>branding</li><li class=bg--orange>logo design</li><li class=bg--blue>graphic design</li></ul></section></main><script type=text/javascript>
$(document).ready(function() {
  $('#fullpage').fullpage({
    sectionSelector: '.card',
    navigation: true,
    navigationPosition: 'right',
    navigationTooltips: ['firstSlide', 'secondSlide'],
  });
});
</script><script type=text/javascript>
  $('[data-tab]').click(function(e) {
    $('[data-tab]').removeClass('active');
    $(this).addClass('active');
    var id = $(this).attr('data-tab');
    $('.card__detail').hide();
    $(id).show().addClass("animated fadeIn");
    console.log(id);
  })
</script>{{> ui}}