<title>MADTEC | What we do</title><div id=bg__services class=bg--full-fixed></div>{{> menu}}<main id=fullpage class="small-text-center large-text-left wow fadeInUp" data-wow-duration=1s data-wow-delay=0s role=main><section class="card small-12" data-wow-duration=1s data-wow-delay=0s><h2 class=card__title>the tools to grow</h2><ul class="no-bullet card__description"><li>websites, apps, e-commerce</li><li>Analysis & metric reporting</li><li>Social media strategy</li></ul><a data-pjax="" href=/services/develop><div class="button radius success"><span>Tell me more</span></div></a></section><section class="card small-12"><h2 class=card__title>a brand that's irresistible</h2><ul class="no-bullet card__description"><li>logo design & branding</li><li>photography & video</li><li>responsive optimization</li></ul><a data-pjax="" href=/services/branding><div class="button radius success"><span>Tell me more</span></div></a></section><section class="card small-12" data-wow-duration=1s data-wow-delay=0s><h2 class=card__title>a story that sells</h2><ul class="no-bullet card__description"><li>copywriting</li><li>blogging</li><li>newsletter</li></ul><a data-pjax="" href=/services/story><div class="button radius success"><span>Tell me more</span></div></a></section><section class="card small-12" data-wow-duration=1s data-wow-delay=0s><h2 class=card__title>be the talk of the town</h2><ul class="no-bullet card__description"><li>online marketing</li><li>social networking</li><li>customer loyalty</li></ul><a data-pjax="" href=/services/promote><div class="button radius success"><span>Tell me more</span></div></a></section></main><script type=text/javascript>
$(document).ready(function() {
  $('#fullpage').fullpage({
    sectionSelector: '.card',
    navigation: true,
    navigationPosition: 'right',
    navigationTooltips: ['firstSlide', 'secondSlide'],
  });
});
</script>{{> ui}}