<title>HISPIRE | {{{__ 'about title'}}}</title>
<div id="bg__services" class="bg--full-fixed"></div>
{{> menu}}
<main id="about" class="animated fadeIn">
  <div class="section__header">
    <h1 class="small-11 columns small-centered section__title animated fadeInDown text-center">
      On your side, now and always.
    </h1>
  </div>
  <section>
    <div class="row">
      <div class="small-12 medium-10 large-8- xlarge-6 small-centered columns">
        <h2 class="section__subtitle">From the heart</h2>
        <h3 class="subheading">Our philosophy </h3>
        <p>
          We believe in you and the potential for your business to grow when exposed to the right mix of care and technology. We work with your budget so you can receive the quality service you deserve at a fair price.
        </p>
        <p>
          <strong>A note on honesty</strong>
        </p>
        <p>
          If you don’t need it, we won’t try to sell it to you. If you ask for it and we know (based on our resources, expertise and the latest technologies) that it’s not the right path to take, we’ll tell you. That’s what we’re here for.
        </p>
        <h2 class="section__subtitle">From the brain</h2>
        <h3 class="subheading">How we work </h3>
        <p>
          We stand by an iterative process that starts with, and circles back to analysis. We are constantly analyzing every aspect of your business (from web traffic and social media stats to sales) so we can advise you properly every step of the way, with real, hard data behind our actionable recommendations.
        </p>
        <p>
          The internet evolves quickly and those that don’t keep up soon risk losing visibility. We keep your business relevant amongst the changes.
        </p>
        <h2 class="section__subtitle">In the flesh</h2>
        <h3 class="subheading">Meet the team </h3>
        <p>
          We’re a small agency of innovative individuals from NY and Madrid with shared beliefs and a passion for getting things done, the right way.
        </p>
        <div class="team">
          <div class="row">
            <div class="team__member small-12 medium-4 columns">
              <div class="member__image small-9 medium-12 columns small-centered">
                <img src="/img/avatar2.png" alt="" />
              </div>
              <div class="member__description">
                <h3 class="text-center">Jorge MD Ramos</h3>
                <p class="text-center">(Shadow machine)</p>
                <h4 class="text-center">Full Stack Developer & Project Manager </h4>
              </div>
            </div>
            <div class="team__member small-12 medium-4 columns">
              <div class="member__image small-9  medium-12 columns small-centered">
                <img src="/img/avatar2.jpg" alt="" />
              </div>
              <div class="member__description">
                <h3 class="text-center">Jamie Caroccio</h3>
                <p class="text-center">(Content lady)</p>
                <h4 class="text-center">Content Manager & Social Media Strategist </h4>
              </div>
            </div>
            <div class="team__member small-12 medium-4 columns">
              <div class="member__image small-9  medium-12 columns small-centered">
                <img src="/img/avatar.png" alt="" />
              </div>
              <div class="member__description">
                <h3 class="text-center">Iñigo Leza</h3>
                <p class="text-center">(The brand man)</p>
                <h4 class="text-center">Graphic Designer</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="team__member small-12 medium-4 medium-offset-2 columns">
              <div class="member__image small-9  medium-12 columns small-centered">
                <img src="/img/avatar3.png" alt="" />
              </div>
              <div class="member__description">
                <h3 class="text-center">Antonio Dueñas</h3>
                <p class="text-center">(The marketer)</p>
                <h4 class="text-center">Online Marketing</h4>
              </div>
            </div>
            <div class="team__member small-12 medium-4 end columns">
              <div class="member__image small-9  medium-12 columns small-centered">
                <img src="/img/avatar4.png" alt="" />
              </div>
              <div class="member__description">
                <h3 class="text-center">Andrés Villa</h3>
                <p class="text-center">(The picture man)</p>
                <h4 class="text-center">Photography & Video</h4>
              </div>
            </div>
          </div>
        </div>
        <h3 class="text-center">
          You don’t have to be a tech guru to pick the right path for your business in today’s world. You just need <strong>the right team</strong>.
        </h3>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="small-11 small-centered columns link__section text-center">
      <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
        Are you ready to grow?
      </h3>
      <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
        <a data-pjax href="/start-project">
            Let's work together
        </a>
      </div>
    </div>
  </div>
</main>
<script type="text/javascript">
  $(function() {
    $("[data-hover='our team']").addClass('active');
  });
</script>
{{> ui}}
