<title>HISPIRE | Get in touch!</title>
<div id="bg__services" class="bg--full-fixed"></div>
{{> menu}}
<main id="about" class="animated fadeIn">
  <div class="section__header row">
    <h1 class="small-11 columns small-centered section__title animated fadeInDown text-center">
      Get in touch!
    </h1>
  </div>
  <section id="contact">
    <div class="row">
      <div class="small-10 medium-10 large-8 xxlarge-6 small-centered columns">
        <div class="row">
          <a data-pjax href="/start-project">
            <div class="small-12 medium-6 large-4 columns contact-card">
              <div class="contact-card__content text-center">
                <h2 class="section__subtitle">Work together</h2>
                <span>
                  Start a project
                </span>
              </div>
            </div>
          </a>
          <a href="mailto:hello@madtec.co">
            <div id="contact-mail" class="small-12 medium-6 large-4 columns contact-card">
              <div class="contact-card__content text-center">
                <h2 class="section__subtitle">Ask something!</h2>
                <span>hello@madtec.co</span>
              </div>
            </div>
          </a>
          <div id="contact-phone" class="small-12 medium-6 large-4 columns contact-card">
            <div class="contact-card__content text-center">
              <a href="tel:+17121234567">
                <span>+1 712 123 4567</span>
                <h3>US</h3>
              </a>
              <h2 class="section__subtitle">Say the word</h2>
              <a href="tel:+34666112233">
                <h3>ES</h3>
                <span>+34 666 112 233</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{{> ui}}
