<title>MADTEC | Be the talk of the town</title>
<div id="bg__services" class="bg--full-fixed"></div>
{{> menu}}
<main class="animated fadeIn">
  <h1 class="section__title animated fadeInDown text-center">
    A digital product to be proud of
  </h1>
  <ul class="no-bullet trophies__list">
    <div class="row">
      <li id="trophy--finca" class="small-12 large-6 columns bg--green trophy">
        <div class="row media">
          <div class="text-center trophy__detail">
            <h2 class="">Manchuelan Wine Travels to the U.S. </h2>
            <div class="text-center buttons--middle">
              <a href="http://www.fincaelmolar.com">
                <div class="button button--border success">
                  <span>visit website</span>
                </div>
              </a>
              <a class="medium-pl" data-pjax href="#">
                <div class="button--border button">
                  <span>see project</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li id="trophy--apicatando" class="small-12 large-6 columns bg--green trophy">
        <div class="row media">
          <div class="text-center trophy__detail">
            <h2 class="">Honey Business Sweetened with Branding, Website and Photography</h2>
            <div class="text-center buttons--middle">
              <a href="http://www.apicatando.com">
                <div class="button success button--border">
                  <span>visit website</span>
                </div>
              </a>
              <a class="medium-pl" data-pjax href="#">
                <div class="button button--border">
                  <span>see project</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </li>
    </div>
  </ul>
</main>
{{> ui}}
