<title>HISPIRE | A digital product to be proud of</title>
<div id="bg__services" class="bg--full-fixed"></div>
{{> menu}}
<main id="porfolio" class="animated fadeIn">
  <div class="section__header">
    <h1 class="small-11 columns small-centered section__title animated fadeInDown text-center">
      A digital product to be proud of
    </h1>
  </div>
  <ul class="no-bullet trophies__list">
    <div class="row">
      <li id="trophy--finca" class="small-12 large-6 columns bg--green trophy">
        <div class="row">
          <div class="text-center trophy__detail">
            <h2 class=""><span>Finca el molar</span> - Organic wines</h2>
            <div class="text-center buttons--middle">
              <a data-pjax href="/portfolio/finca">
                <div class="button--border button success large">
                  <span>see project</span>
                </div>
              </a>
              <!--<a class="medium-pl" href="http://www.fincaelmolar.com">
                <div class="button button--border success">
                  <span>visit website</span>
                </div>
              </a>-->
            </div>
          </div>
        </div>
      </li>
      <li id="trophy--apicatando" class="small-12 large-6 columns bg--green trophy">
        <div class="row">
          <div class="text-center trophy__detail">
            <h2 class="">Apicatando - Artesanal honey</h2>
            <div class="text-center buttons--middle">
              <a data-pjax href="/portfolio/apicatando">
                <div class="button button--border success large">
                  <span>see project</span>
                </div>
              </a>
              <!--<a class="medium-pl" href="http://www.apicatando.com">
                <div class="button success button--border">
                  <span>visit website</span>
                </div>
              </a>-->
            </div>
          </div>
        </div>
      </li>
    </div>
  </ul>
</main>
{{> ui}}
