<title>MADTEC | What we do</title>
<div id="bg-services" class="bg--full-fixed"></div>
{{> menu}}

    <section>
      <h1 class="section__title animated fadeInDown text-center">We make your business grow forward and take on the world.</h1>
      <ul class="no-bullet services__list text-center">
        <div class="row">
          <li class="small-12 medium-6 large-4 xxlarge-2 xxlarge-offset-1 columns wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
            <div class="card">
              <img src="/img/consulting.svg" class="icon" alt="" />
                <h2 class="card__title">consulting</h2>
              <ul class="no-bullet card__description">
                <li>Market research</li>
                <li>Competitor analysis</li>
                <li>Brand boost</li>
                <li>Social media</li>
                <li>Customer loyalty</li>
              </ul>
              <a href="#">
                <div class="button radius success">
                  <span>Tell me more</span>
                </div>
              </a>
            </div>
          </li>
          <li class="small-12 medium-6 large-4 xxlarge-2 columns wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <div class="card">
              <img src="/img/create.svg" class="icon" alt="" />
                <h2 class="card__title">create</h2>
              <ul class="no-bullet card__description">
                <li>design & branding</li>
                <li>website/app design</li>
                <li>inf. architecture</li>
                <li>user experience</li>
                <li>copywriting</li>
                <li>photography & video</li>
              </ul>
              <a data-pjax href="/services/create">
                <div class="button radius success">
                  <span>Tell me more</span>
                </div>
              </a>
            </div>
          </li>
          <li class="small-12 medium-6 large-4 xxlarge-2 columns  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="card">
              <img src="/img/develop.svg" class="icon" alt="" />
                <h2 class="card__title">develop</h2>
              <ul class="no-bullet card__description">
                <li>resposnive optimization</li>
                <li>websites</li>
                <li>app development</li>
                <li>e-commerce</li>
                <li>interface deisgn</li>
              </ul>
              <a href="#">
                <div class="button radius success">
                  <span>Tell me more</span>
                </div>
              </a>
            </div>
          </li>
          <li class="small-12 medium-6 large-4 xxlarge-2 large-offset-2 xxlarge-offset-0 columns  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="card">
              <img src="/img/promote.svg" class="icon" alt="" />
                <h2 class="card__title">promote</h2>
              <ul class="no-bullet card__description">
                <li>online marketing</li>
                <li>social media strategy</li>
                <li>blogging</li>
                <li>newsletter</li>
              </ul>
              <a href="#">
                <div class="button radius success">
                  <span>Tell me more</span>
                </div>
              </a>
            </div>
          </li>
          <li class="small-12 medium-6 large-4 xxlarge-2 end columns medium-offset-3 large-offset-0 xxlarge-offset-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
            <div class="card">
              <img src="/img/control.svg" class="icon" alt="" />
                <h2 class="card__title">control</h2>
              <ul class="no-bullet card__description">
                <li>analysis & metrics</li>
                <li>future proofing</li>
                <li>project setup</li>
                <li>service control</li>
              </ul>
              <a href="#">
                <div class="button radius success">
                  <span>Tell me more</span>
                </div>
              </a>
            </div>
          </li>
        </div>
      </ul>
    </section>
{{> ui}}
