<title>MADTEC | What we do</title>
<div id="bg-services" class="bg--full-fixed"></div>
{{> menu}}
    <main id="fullpage" class="small-text-center large-text-left wow fadeInUp"  data-wow-duration="1s" data-wow-delay="0s" role="main">
      <!--<h1 class="section__title animated fadeInDown text-center">We make your business grow forward and take on the world.</h1>-->
      <section class="card small-12">
        <!--<img src="/img/consulting.svg" class="icon" alt="" />-->
          <h2 class="card__title">A brand that's irresistible</h2>
        <ul class="no-bullet card__description">
          <li>logo design & branding</li>
          <li>photography & video</li>
          <li>Customer loyalty</li>
          <li>social media strategy</li>
          <li>Competitor analysis</li>
          <li>Brand boost</li>
          <li>Social media</li>

        </ul>
        <a href="#">
          <div class="button radius success">
            <span>Tell me more</span>
          </div>
        </a>
      </section>
      <section class="card small-12" data-wow-duration="1s" data-wow-delay="0s">
        <!--<img src="/img/create.svg" class="icon" alt="" />-->
          <h2 class="card__title">A story that sells.</h2>
        <ul class="no-bullet card__description">
          <li>website/app design</li>
          <li>inf. architecture</li>
          <li>copywriting</li>
          <li>blogging</li>
        </ul>
        <a data-pjax href="/services/create">
          <div class="button radius success">
            <span>Tell me more</span>
          </div>
        </a>
      </section>
      <section class="card small-12" data-wow-duration="1s" data-wow-delay="0s">
        <!--<img src="/img/develop.svg" class="icon" alt="" />-->
          <h2 class="card__title">the tools to grow</h2>
        <ul class="no-bullet card__description">
          <li>resposnive optimization</li>
          <li>websites</li>
          <li>e-commerce</li>
          <li>web app development</li>
          <li>Analysis & metric reporting</li>
          <li>future proofing</li>
        </ul>
        <a href="#">
          <div class="button radius success">
            <span>Tell me more</span>
          </div>
        </a>
      </section>
      <section class="card small-12" data-wow-duration="1s" data-wow-delay="0s">
        <!--<img src="/img/promote.svg" class="icon" alt="" />-->
          <h2 class="card__title">Be the talk of the town</h2>
        <ul class="no-bullet card__description">
          <li>user experience</li>
          <li>interface design</li>
          <li>online marketing</li>
          <li>social media strategy</li>
          <li>blogging</li>
          <li>newsletter</li>
        </ul>
        <a href="#">
          <div class="button radius success">
            <span>Tell me more</span>
          </div>
        </a>
      </section>
    </main>
<script type="text/javascript">
$(document).ready(function() {
  $('#fullpage').fullpage({
    sectionSelector: '.card',
    navigation: true,
    navigationPosition: 'right',
    navigationTooltips: ['firstSlide', 'secondSlide'],
  });
});
</script>
{{> ui}}
