<title>MADTEC | What we do</title>
<div id="bg__services" class="bg--full-fixed"></div>
{{> menu}}
<main class="small-text-center large-text-left wow fadeIn" data-wow-duration="1s" data-wow-delay="0s" role="main">
  <div class="section__header">
    <h1 class="section__title animated fadeInDown text-center">
      Stand out
    </h1>
    <h2 class="section__tagline animated fadeInUp text-center">
      The right tool for the job.
    </h2>
  </div>
  <!--<h1 class="section__title animated fadeInDown text-center">We make your business grow forward and take on the world.</h1>-->
  <section class="card">
    <div class="row">
      <div class="small-12 small-centered text-center columns">
        <h2 class="card__title">the tools to grow</h2>
        <div class="card__description small-12 medium-10 xlarge-8 xxlarge-6 inline">
          <p>
            Wow your customers with a beautiful product that’s easy to use.
            Take control of your business with a reliable, client-catching digital home.
            With fast load times, a responsive design and a more human experience,
            your customers will be satisfied and your sales will soar.
          </p>
          <ul class="inline-list no-bullet small-centered">
            <li class="active" data-tab="#websites">websites</li>
            <li data-tab="#ecommerce">e-commerce</li>
            <li data-tab="#apps">apps </li>
          </ul>
        </div>
      </div>
      <div class="small-12 columns">
        <div id="websites" class="row card__detail">
          <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
            <h3>Websites to be proud of</h3>
            <p>
              Your website is the first impression of your brand online. We make it a lasting one by creating a unique design that looks great and lures potential and returning customers right into your web.
            </p>
            <a data-pjax href="/trophies/apicatando/#websites">
              <button type="button" class="button success" name="button">See example</button>
            </a>
          </div>
        </div>
        <div id="apps" class="row card__detail">
          <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
            <h3>Web apps</h3>
            <p>
              The freedom to upload pictures from time to time, create customer accounts, manage that online catalog, whatever it is you need access to, we set you up with the best tools
              so you can stop pulling your hair out and get back to your business.
            </p>
            <p>
              <i>Have an awesome idea for an app? We can build it for you.</i>
            </p>
            <a data-pjax href="/start-project">
              <button type="button" class="button" name="button">Start project</button>
            </a>
          </div>
        </div>
        <div id="ecommerce" class="row card__detail">
          <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
            <h3>E-commerce</h3>
            <p>
              The power to customize and manage your online shop. We use only the best platforms—shopify, woocommerce, magento—paired with a design made just for you, giving you and your customers the gratifying experience you deserve.
            </p>
            <p>
              <i>Need extra features? We can add those, too.</i>
            </p>
            <a data-pjax href="/start-project">
              <button type="button" class="button" name="button">Start project</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="row">
      <div class="small-12 small-centered text-center columns">
        <h2 class="card__title">be the talk of the town</h2>
        <div class="card__description small-12 medium-10 xlarge-8 xxlarge-6 inline">
          <p>
            Get more clients in a smarter way by engaging them where they’re already hanging out,
            increasing brand awareness and boosting traffic to your site. We send you periodic
            reports that bring data to life with our recommended future steps to ensure you’re
            always growing.
          </p>
          <ul class="inline-list no-bullet small-centered">
            <li class="active" data-tab="#online-marketing">online marketing</li>
            <li data-tab="#social-strategy">social media strategy</li>
            <li data-tab="#newsletters">newletters</li>
          </ul>
        </div>
      </div>
      <div class="small-12 columns">
        <div id="online-marketing" class="row card__detail">
          <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
            <h3>Online marketing</h3>
            <p>
              Reach customers by knowing where to look for them and the magic words that will get them to buy your product or service. We lead them to you through online campaigns and advertisement.
            </p>
            <a data-pjax href="/trophies">
              <button type="button" class="button success" name="button">See example</button>
            </a>
          </div>
        </div>
        <div id="social-strategy" class="row card__detail">
          <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
            <h3>Social media strategy</h3>
            <p>
              If your customers are on social media, you need to be there, too.
              Engage new customers and show current ones that they’re appreciated.
              We create a strategy that brings awareness to your brand, sales to your business and
              care to your customers.
            </p>
            <a data-pjax href="/start-project">
              <button type="button" class="button" name="button">Start project</button>
            </a>
          </div>
        </div>
        <div id="newsletters" class="row card__detail">
          <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
            <h3>Newsletters</h3>
            <p>
              Promote new blog posts, product releases, updates and exclusive offers by sending
              a little love to your biggest fans. Whether you need a strategy to handle yourself
              or want us to do it for you (we use tools like Mailchimp) we’re here to guide the way.
            </p>
            <a data-pjax href="/start-project">
              <button type="button" class="button" name="button">Start project</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="row">
      <div class="small-12 small-centered text-center columns">
        <h2 class="card__title">a story that sells</h2>
        <div class="card__description small-12 medium-10 xlarge-8 xxlarge-6 inline">
          <p>
            Seduce the reader with the words they’ve been craving to hear.
            You have a story to tell and we have the words to woo your customers right
            where you want ‘em. Stand out from the competition and increase traffic to
            your website with the right words.
          </p>
          <ul class="inline-list no-bullet small-centered">
            <li class="active" data-tab="#copywriting">copywriting</li>
            <li data-tab="#blogging">blogging</li>
            <li data-tab="#photography-video">photograpy & video</li>
          </ul>
        </div>
      </div>
      <div class="small-12 columns">
        <div id="copywriting" class="row card__detail">
          <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
            <h3>Copywriting</h3>
            <p>
              Every piece of content written for your business is part of your larger story
              (even short product/service descriptions). We know the language your customers
               speak and work with you to get your brand and philosophy heard. Loud and clear.
            </p>
            <a data-pjax href="/trophies/finca/#copywriting">
              <button type="button" class="button success" name="button">See example</button>
            </a>
          </div>
        </div>
        <div id="blogging" class="row card__detail">
          <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
            <h3>Blogging</h3>
            <p>
              Whether you need something intimate or a more technical blog, we’re here to give it just
              the right amount of TLC to get it read and shared, drive traffic to your website, establish
               you as an expert in your field and increase those sales.
            </p>
            <a data-pjax href="/start-project">
              <button type="button" class="button" name="button">Start project</button>
            </a>
          </div>
        </div>
        <div id="photography-video" class="row card__detail">
          <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
            <h3>Photography & Video</h3>
            <p>
              Hasta la vista tiny, poor quality photos. We take fantastic photos and video so your customers
              never go running into the arms of your competitors looking for a better visual experience again.
            </p>
            <a data-pjax href="/trophies/finca/#photography">
              <button type="button" class="button success" name="button">See example</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="row">
      <div class="small-12 small-centered text-center columns">
        <h2 class="card__title">A brand that’s irresistible</h2>
        <div class="card__description small-12 medium-10 xlarge-8 xxlarge-6 inline">
          <p>
            Consistent, memorable and timeless. Quality branding flaunts the care you put
            into your business and it’s identity. A completely personalized process that
            keeps you relevant and makes your brand unforgettable.
          </p>
          <ul class="inline-list no-bullet text-center">
            <li class="active" data-tab="#branding">branding</li>
            <li data-tab="#logo-design">logo design</li>
            <li data-tab="#graphic-design">graphic design</li>
          </ul>
        </div>
      </div>
      <div class="small-12 columns">
        <div id="branding" class="row card__detail">
          <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
            <h3>Branding</h3>
            <p>
              For businesses just starting out we create a brand strategy from scratch,
              with your business philosophy at the heart of our operations. For those that
              already have an identity in place, we check to see if it’s meeting its full
              potential as a unique, fresh and impactful brand.
            </p>
            <a data-pjax href="/trophies/finca/#branding">
              <button type="button" class="button success" name="button">See example</button>
            </a>
          </div>
        </div>
        <div id="logo-design" class="row card__detail">
          <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
            <h3>Logo design</h3>
            <p>
              We breathe life into your brand with a simple yet elegant logo that appeals
              specifically to your audience. The right logo radiates quality and professionalism,
               developing your reputation as a serious business that cares about the perception of
               its brand.
            </p>
            <a data-pjax href="/trophies/apicatando/#logo-design">
              <button type="button" class="button success" name="button">See example</button>
            </a>
          </div>
        </div>
        <div id="graphic-design" class="row card__detail">
          <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
            <h3>Graphic design</h3>
            <p>
              Make your brand shine everywhere with a strong and consistent brand image.
              From the personalized icons on your site to business cards and brochures,
              we create a design that unifies your brand across all fronts.
            </p>
            <a data-pjax href="/trophies/apicatando/#graphic-design">
              <button type="button" class="button success" name="button">See example</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script type="text/javascript">
  $('[data-tab]').click(function(e) {
    $(this).siblings().removeClass('active');
    $(this).addClass('active');
    var id = $(this).attr('data-tab');
    console.log($(id).siblings());
    $(id).siblings().hide();
    $(id).show().addClass("animated fadeIn");
    console.log(id);
  })
</script>
{{> ui}}
