<title>MADTEC | A brand that's irresistible</title>
<!--<div id="bg-services-create" class="bg--full-fixed"></div>-->
{{> menu}}
<main class="">
  <h1 class="section__title animated fadeInDown text-center">
    WOWing you and your customers with a beautiful product that’s easy to use.
  </h1>
  <ul class="no-bullet service__details small-block-grid-1 ">
      <li class="wow zoomIn bg--orange  service__detail" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="row media">
          <div class="small-8 medium-3  small-text-center medium-text-left small-centered medium-uncentered media__img column">
            <img src="/img/branding.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center 	 medium-9 media__content column">
            <h2 class="">Logo & branding design</h2>
            <p>
              From your logo to each individual icon that appears on your site or app, we create every graphic element with your brand and philosophy in mind, giving it just the right amount of POP.
            </p>
          </div>
        </div>

      </li>

      <li class="wow zoomIn bg--blue service__detail" data-wow-duration="1s" data-wow-delay=".2s">
        <div class="row media">
          <div class="small-8 medium-3  small-text-center medium-text-left small-centered medium-uncentered media__img column">
            <img src="/img/ia.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center 	 medium-9 media__content column">
            <h2 class="">brand boost</h2>
            <p>
              How visible is your brand in the market? We take a look at how others are perceiving your brand, working on its appearance, relevance and reputation so your customers will be saying “ooh la la.”
            </p>
          </div>
        </div>
      </li>
      <li class="wow zoomIn bg--purple service__detail" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="row media">
          <div class="small-8 medium-3  small-text-center medium-text-left small-centered medium-uncentered media__img column">
            <img src="/img/copywriting.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center 	 medium-9 media__content column">
            <h2 class="">photography & video</h2>
            <p>
              Hasta la vista tiny, poor quality photos. We take fantastic photos and video so your customers never go running into the arms of your competitors looking for a better visual experience again.
            </p>
          </div>
        </div>
      </li>
      <li class="wow zoomIn bg--green service__detail" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="row media">
          <div class="small-8 medium-3  small-text-center medium-text-left small-centered medium-uncentered media__img column">
            <img src="/img/design.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center medium-9 media__content column">
            <h2 class="">resposive optimization</h2>
            <p>
              With today’s consumer primarily on the go, your business needs to get its message out and be available in the click of a button from the palm of your user’s hand. We make sure it looks good doing so, on any and all screens and devices.
            </p>
          </div>
        </div>

      </li>
      <li class="wow zoomIn bg--yellow service__detail" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="row media">
          <div class="small-8 medium-3 small-text-center medium-text-left small-centered medium-uncentered media__img column">
            <img src="/img/ux.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center 	 medium-9 media__content column">
            <h2 class="">User Experience</h2>
            <p>
              We take your users thoughts, tendencies and preferences into consideration, creating a naturally satisfying human experience with your company online. Frustration-free.
            </p>
          </div>
        </div>
      </li>
  </ul>
  <div class="row">
    <div class="small-12 columns link__section text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
      <a data-pjax href="/services/story">
          A story that sells
      </a>
    </div>
  </div>
</main>
{{> ui}}
