<title>MADTEC | What we do</title>
<div id="bg__services" class="bg--full-fixed"></div>
{{> menu}}
<main class="small-text-center large-text-left wow fadeIn" data-wow-duration="1s" data-wow-delay="0s" role="main">
  <h1 class="section__title animated fadeInDown text-center">Stand out.</h1>
  <!--<h1 class="section__title animated fadeInDown text-center">We make your business grow forward and take on the world.</h1>-->
  <section class="card">
  <div class="row">
    <div class="small-12 small-centered text-center columns">
      <h2 class="card__title">the tools to grow</h2>
      <div class="card__description small-12 medium-10 xlarge-8 xxlarge-6 inline">
        <p>
          Wow your customers with a beautiful product that’s easy to use.
          Take control of your business with a reliable, client-catching digital home.
          With fast load times, a responsive design and a more human experience,
          your customers will be satisfied and your sales will soar.
        </p>
        <ul class="inline-list no-bullet small-centered">
          <li data-tab="#websites">websites</li>
          <li data-tab="#ecommerce">e-commerce</li>
          <li data-tab="#apps">apps </li>
        </ul>
      </div>
    </div>
    <div class="small-12 columns">
      <div id="websites" class="row card__detail">
        <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
          <h3>Websites</h3>
          <p>
            Your website is the first impression of your brand online. We make it a lasting one by creating a unique design that looks great and lures potential and returning customers right into your web.
          </p>
        </div>
        <div class="small-6 medium-4 large-2  small-centered media__img column">
          <img src="/img/branding.svg" class="icon" alt="" />
        </div>
      </div>
      <div id="apps" class="row card__detail">
        <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
          <h3>Web apps</h3>
          <p>
            Whatever it is you need control over (uploading pictures from time to time, creating customer accounts, managing online catalog…) we set you up with the best tools
            so you can stop pulling your hair out and get back to your business.
              </p>
        </div>
        <div class="small-6 medium-4 large-2  small-centered media__img column">
          <img src="/img/develop.svg" class="icon" alt="" />
        </div>
      </div>
      <div id="ecommerce" class="row card__detail">
        <div class="small-12 medium-10 xlarge-8 xxlarge-6 small-centered text-center media__content column">
          <h3>E-commerce</h3>
          <p>
            Take control of your business with the power to customize and manage your online shop. We use only the best platforms—shopify, woocommerce, magento—paired with a personalized design made just for you, giving you and your customers the gratifying experience you deserve.
          </p>
        </div>
        <div class="small-6 medium-4 large-2  small-centered media__img column">
          <img src="/img/control.svg" class="icon" alt="" />
        </div>
      </div>
    </div>
  </div>

    <!--<a data-pjax href="/services/develop">
      <div class="button radius success">
        <span>Tell me more</span>
      </div>
    </a>-->
  </section>
  <section class="card small-12" data-wow-duration="1s" data-wow-delay="0s">
    <!--<img src="/img/promote.svg" class="icon" alt="" />-->
      <h2 class="card__title">be the talk of the town</h2>
    <ul class="inline-list no-bullet card__description">
      <li class="bg--orange">online marketing</li>
      <li class="bg--purple">social strategy</li>
      <li class="bg--green">newsletters</li>
    </ul>
  <!--<a data-pjax href="/services/promote">
      <div class="button radius success">
        <span>Tell me more</span>
      </div>
    </a>-->
  </section>
  <section class="card small-12" data-wow-duration="1s" data-wow-delay="0s">
    <!--<img src="/img/create.svg" class="icon" alt="" />-->
      <h2 class="card__title">a story that sells</h2>
    <ul class="inline-list no-bullet card__description">
      <li class="bg--green">copywriting</li>
      <li class="bg--yellow">blogging</li>
      <li class="bg--purple">photography & video</li>
    </ul>
    <!--<a data-pjax href="/services/story">
      <div class="button radius success">
        <span>Tell me more</span>
      </div>
    </a>-->
  </section>
  <section class="card small-12">
    <!--<img src="/img/consulting.svg" class="icon" alt="" />-->
      <h2 class="card__title">a brand that's irresistible</h2>
    <ul class="inline-list no-bullet card__description">
      <li class="bg--purple">branding</li>
      <li class="bg--orange">logo design</li>
      <li class="bg--blue">graphic design</li>
      <!--<li>social media strategy</li>
      <li>Competitor analysis</li>
      <li>Brand boost</li>
      <li>Social media</li>-->
    </ul>
    <!--<a data-pjax href="/services/branding">
      <div class="button radius success">
        <span>Tell me more</span>
      </div>
    </a>-->
  </section>
</main>
<script type="text/javascript">
  $('[data-tab]').click(function(e) {
    $('[data-tab]').removeClass('active');
    $(this).addClass('active');
    var id = $(this).attr('data-tab');
    $('.card__detail').hide();
    $(id).show().addClass("animated fadeIn");
    console.log(id);
  })
</script>
{{> ui}}
