<title>MADTEC | Create - Delivering you and your customers an excellent digital product</title>
<!--<div id="bg-services-create" class="bg--full-fixed"></div>-->
{{> menu}}
<section class="">
  <h1 class="section__title animated fadeInDown text-center">Delivering you and your customers an excellent digital product.</h1>
  <ul class="no-bullet service__details small-block-grid-1 ">
      <li class="wow zoomIn bg--blue service__detail" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="row media">
          <div class="small-8 medium-3  small-centered medium-uncentered media__img column">
            <img src="/img/branding.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center 	 medium-9 media__content column">
            <h2 class="">Logo & branding design</h2>
            <p>
              From creating your logo to each icon that appears on your site/app, every graphic element is inspired with your brand and philosophy in mind.
            </p>
          </div>
        </div>

      </li>
      <li class="wow zoomIn bg--green service__detail" data-wow-duration="1s" data-wow-delay=".2s">
        <div class="row media">
          <div class="small-8 medium-3  small-centered medium-uncentered media__img column">
            <img src="/img/ia.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center 	 medium-9 media__content column">
            <h2 class="">information architecture</h2>
            <p>
              By interpreting data from our analysis, we structure and prioritize your content so it’s right where your users need it.            </p>
          </div>
        </div>

      </li>
      <li class="wow zoomIn bg--red service__detail" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="row media">
          <div class="small-8 medium-3  small-centered medium-uncentered media__img column">
            <img src="/img/design.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center medium-9 media__content column">
            <h2 class="">website & app design</h2>
            <p>
              Your project is unique. It deserves a design geared toward the success of your particular business and customers. </p>
          </div>
        </div>

      </li>
      <li class="wow zoomIn bg--purple service__detail" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="row media">
          <div class="small-8 medium-3  small-centered medium-uncentered media__img column">
            <img src="/img/ux.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center 	 medium-9 media__content column">
            <h2 class="">User Experience</h2>
            <p>
              With your users in mind, we optimize user friendliness, creating a more human experience with your company online.
            </p>
          </div>
        </div>

      </li>
      <li class="wow zoomIn bg--orange service__detail" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="row media">
          <div class="small-8 medium-3  small-centered medium-uncentered media__img column">
            <img src="/img/copywriting.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center 	 medium-9 media__content column">
            <h2 class="">copywriting</h2>
            <p>
              You have a story to tell and we have the tools to tell it effectively. We craft quality content that matters..
            </p>
          </div>
        </div>

      </li>
      <li class="wow zoomIn bg--blue service__detail" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="row media">
          <div class="small-8 medium-3  small-centered medium-uncentered media__img column">
            <img src="/img/online-marketing.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center medium-9 media__content column">
            <h2 class="">online marketing</h2>
            <p>
              We guide you through customized online campaigns, focusing on current and new customers.
            </p>
          </div>
        </div>

      </li>
  </ul>
</section>
<script type="text/javascript">
  $.fn.fullpage.destroy();
</script>
{{> ui}}
