<title>MADTEC | What we do</title>
<div id="bg__services" class="bg--full-fixed"></div>
{{> menu}}
<main id="fullpage" class="small-text-center large-text-left wow fadeInUp"  data-wow-duration="1s" data-wow-delay="0s" role="main">
  <!--<h1 class="section__title animated fadeInDown text-center">We make your business grow forward and take on the world.</h1>-->
  <section class="card small-12" data-wow-duration="1s" data-wow-delay="0s">
    <!--<img src="/img/develop.svg" class="icon" alt="" />-->
    <h2 class="card__title">the tools to grow</h2>
    <ul class="inline-list no-bullet card__description">
      <li class="bg--green" data-tab="#websites">websites</li>
      <li class="bg--orange" data-tab="#ecommerce">e-commerce</li>
      <li class="bg--purple" data-tab="#apps">apps </li>
    </ul>
    <div id="websites" class="row media bg--green">
      <div class="small-6 medium-2  small-centered medium-uncentered media__img column">
        <img src="/img/branding.svg" class="icon" alt="" />
      </div>
      <div class="small-12 small-only-text-center 	 medium-9 media__content column">
        <h2 class="">Websites</h2>
        <p>
          We create stunning websites with a responsive design so your brand is always looking its best no matter which device or screen it's being viewed on.
        </p>
      </div>
    </div>
    <div id="ecommerce" class="row media bg--orange">
      <div class="small-6 medium-2  small-centered medium-uncentered media__img column">
        <img src="/img/ia.svg" class="icon" alt="" />
      </div>
      <div class="small-12 small-only-text-center 	 medium-9 media__content column">
        <h2 class="">e-commerce</h2>
        <p>
          To give you control over customizing and managing your online shop, we use only the best platforms—shopify, woocommerce, magento—paired with a personalized design and your own touch to give you and your customers the most gratifying experience.
        </p>
        <p>
          Need extra features? We can do add those too.
        </p>
      </div>
    </div>
    <div id="apps" class="row media bg--purple">
      <div class="small-6 medium-2  small-centered medium-uncentered media__img column">
        <img src="/img/design.svg" class="icon" alt="" />
      </div>
      <div class="small-12 small-only-text-center medium-9 media__content column">
        <h2 class="">web application development</h2>
        <p>
          If you need to manage your website, or want to be more productive managing your business, we put together the best tools so you can stop pulling your hair out and get back to your business. 
        </p>
      </div>
    </div>

    <!--<a data-pjax href="/services/develop">
      <div class="button radius success">
        <span>Tell me more</span>
      </div>
    </a>-->
  </section>
  <section class="card small-12" data-wow-duration="1s" data-wow-delay="0s">
    <!--<img src="/img/promote.svg" class="icon" alt="" />-->
      <h2 class="card__title">be the talk of the town</h2>
    <ul class="inline-list no-bullet card__description">
      <li class="bg--orange">online marketing</li>
      <li class="bg--purple">social strategy</li>
      <li class="bg--green">newsletters</li>
    </ul>
  <!--<a data-pjax href="/services/promote">
      <div class="button radius success">
        <span>Tell me more</span>
      </div>
    </a>-->
  </section>
  <section class="card small-12" data-wow-duration="1s" data-wow-delay="0s">
    <!--<img src="/img/create.svg" class="icon" alt="" />-->
      <h2 class="card__title">a story that sells</h2>
    <ul class="inline-list no-bullet card__description">
      <li class="bg--green">copywriting</li>
      <li class="bg--yellow">blogging</li>
      <li class="bg--purple">photography & video</li>
    </ul>
    <!--<a data-pjax href="/services/story">
      <div class="button radius success">
        <span>Tell me more</span>
      </div>
    </a>-->
  </section>
  <section class="card small-12">
    <!--<img src="/img/consulting.svg" class="icon" alt="" />-->
      <h2 class="card__title">a brand that's irresistible</h2>
    <ul class="inline-list no-bullet card__description">
      <li class="bg--purple">branding</li>
      <li class="bg--orange">logo design</li>
      <li class="bg--blue">graphic design</li>
      <!--<li>social media strategy</li>
      <li>Competitor analysis</li>
      <li>Brand boost</li>
      <li>Social media</li>-->
    </ul>
    <!--<a data-pjax href="/services/branding">
      <div class="button radius success">
        <span>Tell me more</span>
      </div>
    </a>-->
  </section>
</main>
<script type="text/javascript">
$(document).ready(function() {
  $('#fullpage').fullpage({
    sectionSelector: '.card',
    navigation: true,
    navigationPosition: 'right',
    navigationTooltips: ['firstSlide', 'secondSlide'],
  });
});
</script>
<script type="text/javascript">
  $('[data-tab]').click(function(e) {
    $('[data-tab]').removeClass('active');
    $(this).addClass('active');
    var id = $(this).attr('data-tab');
    $('.media').hide();
    $(id).show( "fast" );
    console.log(id);
  })
</script>
{{> ui}}
