<title>MADTEC | A story that sells</title>
<!--<div id="bg-services-create" class="bg--full-fixed"></div>-->
{{> menu}}
<main class="">
  <h1 class="section__title animated fadeInDown text-center">
    WOWing you and your customers with a beautiful product that’s easy to use.
  </h1>
  <ul class="no-bullet service__details small-block-grid-1 ">
      <li class="wow zoomIn bg--purple service__detail" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="row media">
          <div class="small-8 medium-3  small-centered medium-uncentered media__img column">
            <img src="/img/copywriting.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center 	 medium-9 media__content column">
            <h2 class="">copywriting</h2>
            <p>
              Every piece of content written for your business is part of your larger story (even short product/service descriptions). We know the language your customers speak and work with you to get your brand and philosophy heard.  Loud and clear.
            </p>
          </div>
        </div>

      </li>
      <li class="wow zoomIn bg--orange service__detail" data-wow-duration="1s" data-wow-delay=".2s">
        <div class="row media">
          <div class="small-8 medium-3  small-centered medium-uncentered media__img column">
            <img src="/img/ia.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center 	 medium-9 media__content column">
            <h2 class="">newsletter</h2>
            <p>
              Promote new blog posts, product releases, updates and special offers by sending a little love to your biggest fans. Whether you need a strategy to handle yourself or want us to do it (we use tools like Mailchimp) we’re here to guide the way.
            </p>
          </div>
        </div>

      </li>
      <li class="wow zoomIn bg--blue service__detail" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="row media">
          <div class="small-8 medium-3  small-centered medium-uncentered media__img column">
            <img src="/img/design.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center medium-9 media__content column">
            <h2 class="">blogging</h2>
            <p>
              Whether you need something intimate or a more technical blog, we’re here to give it just the right amount of TLC  to get it read and shared, drive traffic to your website and increase those sales.
            </p>
          </div>
        </div>

      </li>
      <li class="wow zoomIn bg--yellow service__detail" data-wow-duration="1s" data-wow-delay=".1s">
        <div class="row media">
          <div class="small-8 medium-3  small-centered medium-uncentered media__img column">
            <img src="/img/ux.svg" class="icon" alt="" />
          </div>
          <div class="small-12 small-only-text-center 	 medium-9 media__content column">
            <h2 class="">information architecture</h2>
            <p>
              We strategically place your content where your users need (and expect) it to be, saving them the time and agony of a fruitless search.
            </p>
          </div>
        </div>

      </li>
  </ul>
  <div class="row">
    <div class="small-6 columns link__section text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
      <a data-pjax href="/services/branding">
          A brand that's irresistible
      </a>
    </div>
    <div class="small-6 columns link__section text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
      <a data-pjax href="/services/promote">
          Be the talk of the town
      </a>
    </div>
  </div>
</main>
{{> ui}}
