<title>MADTEC | Let's start something incredible</title>
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    {{> menu}}
    <section>
      <h1 class="section__title text-center">Let's start something incredible.</h1>
      <form data-abide="ajax" method="POST" class="dropzone" id="start-project-form" action="/start-project" enctype="multipart/form-data">
        <div class="row">
          <div class="small-12 large-6 small-centered columns">
            <div class="group">
              <input class="material" type="text" name="name" required pattern="[a-zA-Z]+">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label class="material">Name</label>
              <!--<small class="error">Name is required and must be a string.</small>-->
            </div>
          </div>
          <div class="small-12 large-6 small-centered columns">
            <div class="group">
              <input class="material" type="email" name="email" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label class="material">Email</label>
              <small class="error">A valid email address is required.</small>
            </div>
          </div>
          <div class="group small-12 large-6 small-centered columns">
            <label>Timeframe
              <select name="timeframe">
                <option value="less than a month">less than a month</option>
                <option value="1-2 months">1-2 months</option>
                <option value="2-6 months">2-6 months</option>
                <option value="+6 months">+6 months</option>
              </select>
            </label>
          </div>


          <!--<div class="small-12 large-6 small-centered columns">
            <label>Name
              <input type="text" name="name" required pattern="[a-zA-Z]+" placeholder="Name" />
            </label>
            <small class="error">Name is required and must be a string.</small>
          </div>
          <div class="small-12 large-6 small-centered columns">
            <label>Company
              <input type="text" name="company" placeholder="Company" />
            </label>
          </div>
          <div class="small-12 large-6 small-centered columns">
            <label>Email
              <input type="email" name="email" placeholder="Email" required />
            </label>
            <small class="error">A valid email address is required.</small>
          </div>
          <div class="small-12 large-6 small-centered columns">
            <label>Timeframe
              <select name="timeframe">
                <option value="less than a month">less than a month</option>
                <option value="1-2 months">1-2 months</option>
                <option value="2-6 months">2-6 months</option>
                <option value="+6 months">+6 months</option>
              </select>
            </label>
          </div>-->
          <div class="small-12 group large-6 small-centered columns">
            <div class="range-slider" id="budget-slider" name="budget" data-slider data-options="display_selector: #sliderOutput3; step: 200; start: 0; end: 10000">
              <span class="range-slider-handle" role="slider" tabindex="0"></span>
              <span class="range-slider-active-segment"></span>
            </div>
          </div>
          <input type="hidden" id="budget" name="budget" value="">
          <div class="small-12 small-centered large-6 columns text-center">
            <span id="sliderOutput3"></span>
          </div>
          <div class="small-12 group large-6 small-centered columns" id="uploader">
            <div class="dz-default dz-message">
              <span>Drop the files here to upload</span>
            </div>
          </div>
          <div class="fallback">
            <input type="file" name="files" multiple>
          </div>
          <div class="small-12 large-6 small-centered columns text-center">
            <button type="submit" id="send-project-form" name="button">SEND</button>
            <div id="form-msg"></div>
          </div>
        </div>
      </form>
    </section>

<!-- close the off-canvas menu -->
  </div>
</div>
<script type="text/javascript">
$(function() {
  var open = false;
  $('#menu-button, .exit-off-canvas').click(function(event){
    event.preventDefault();
    if(!open){
      $('#menu-button').addClass('close');
      open = true;
    }
    else{
      $('#menu-button').removeClass('close');
      open = false;
    }
  });
  $(document).foundation('reflow');
  var projectDropzone = new Dropzone("form#start-project-form",
    {
      paramName: "files",
      maxFilesize: 3,
      uploadMultiple: true,
      parallelUploads: 100,
      maxFiles: 10,
      clickable: '#uploader',
      addRemoveLinks: true,
      previewsContainer: '#uploader',
      autoProcessQueue: false,

      init: function() {
        projectDropzone = this;
    }
  });
    $('[data-slider]').on('change.fndtn.slider', function(){
      $('#budget').val($('#budget-slider').attr('data-slider'))
    });
    Dropzone.autoDiscover = false;

  $('#start-project-form')
    .on('valid.fndtn.abide', function () {
      if(projectDropzone.getQueuedFiles().length != 0) {
        projectDropzone.processQueue();
        projectDropzone
        .on('totaluploadprogress', function(res) {
          $('#send-project-form').prop("disabled",true);
          $('#send-project-form').html('<img src="/img/ajax-loader.gif"> <br /> Uploading ' + Math.round(res) + '%');})
        .on('completemultiple', function(res) {
          $('#form-msg').html(res[0].xhr.responseText);
          $('#send-project-form').html('SEND');

        })
        .on('success', function(res){
          document.getElementById("start-project-form").reset();
          projectDropzone.removeAllFiles();
          $('#send-project-form').html('SEND');
          $('#form-msg').addClass("animated fadeInDown");
          $('#send-project-form').prop("disabled",false);
          $('#form-msg').html(res.xhr.responseText);

        })
      } else {
        $('#send-project-form').prop("disabled",true);
        $('#send-project-form').html('<img src="/img/ajax-loader.gif" />');
        $.ajax({
          url: '/start-project',
          type: 'post',
          dataType: 'json',
          data: $('#start-project-form').serialize(),
          statusCode: {
            500: function(res){
              $('#form-msg').addClass("animated fadeInDown");
              $('#form-msg').html(res.responseText);
              $('#send-project-form').prop("disabled",false);
              $('#send-project-form').html('SEND');

            },
            200: function(res) {
              document.getElementById("start-project-form").reset();
              $('#form-msg').addClass("animated fadeInDown");
              $('#form-msg').html(res.responseText);
              $('#send-project-form').prop("disabled",false);
              $('#send-project-form').html('SEND');
            }
          }
        });
      }
    });
});

</script>
