@import "settings";
@import "../components/foundation/scss/foundation";

.text--center {
  text-align: center !important;
}


.vertical--middle {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical--middle > *{
  display: table-cell;
  vertical-align: middle;
}
