@import "settings";
@import "../components/foundation/scss/foundation";

.text--center {
  text-align: center !important;
}

.bg--full-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.inline {
  display: inline-block;
}

#bg__services {
  background: url(/img/fondo3.jpg) no-repeat center bottom;
  background-color: #1e1e1e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#bg-services-create {
  //background: url(/img/fondo4.jpg) no-repeat center bottom;
  background-color: #fefefe;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.vertical--middle {
  display: table !important;
  height: 100% !important;
  width: 100% !important;
}

.vertical--middle > *{
  display: table-cell !important;
  vertical-align: middle !important;
}

.middle {
  vertical-align: middle;
}

main {
  min-height: 100%;
  background-color: rgba(255, 255, 255, .85);
}

/**** NAV ****/

.name {
  background-color: transparent !important;
}

.brand__name {
  //margin-right: 3rem !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $red--dark !important;
  font-weight: 400 !important;
  font-size: rem-calc(23) !important;
  span {
    font-size: rem-calc(23) !important;
    //font-weight: 400;
  }
}

nav .button {
  top: 1.3em !important;
  padding: 1em !important;
  height: auto !important;
  text-transform: uppercase !important;
  transition: 0.5s ease;
  &:hover {
    top: 1em !important;
    padding: 1.5em !important;
  }
}

.nav__item a{
	//padding: 10px;
	//color: $red--dark !important;
	font-weight: 700 !important;
  text-transform: uppercase !important;
  color: $charcoal;
  text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

.nav__item a::before {
  color: $red;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.nav__item a:hover::before,
.nav__item a:focus::before {
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}
.nav__item a.active {
  color: $red;
}
/*
.nav__item a::after {
	position: absolute;
	left: 16%;
	width: 70%;
	height: 4px;
	background: $smoke;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}



.nav__item a::after {
	bottom: 1.5em;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.nav__item a:hover,
.nav__item a:focus {
	color: #fff;
}

.nav__item a:hover::before,
.nav__item a:focus::before,
.nav__item a:hover::after,
.nav__item a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}*/

.top-bar-section ul li {
  background-color: transparent;
}

// =========== General button styles & variables =======================================//
button{
  outline: none;
  text-transform: uppercase;

  span{
    display:block;
  }
}

$color : $charcoal;
$transition: .1s;// increase this to see the transformations happen in slow motion

/* ====================== lines button ==================================================*/

$button-size : 1.5rem;
//common to all three-liners
.lines-button {
  background:none;
  margin: 0;
  padding: 0 0 .3em .8em;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: $button-size/7;
/* */
  &:hover {
    opacity: 1;
    background-color: transparent;
  }
  &:active {
    transition: 0;
    background-color: transparent;
  }
}
//common to all three-liners
@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: $color;
  border-radius: $button-size/14;
  //transition: $transition;
}
//common to all three-liners
.lines {
  @include line;
  position: relative;
  margin-bottom: .2em;


  &:before, &:after {
   @include line;
    position: absolute;
    left:0;
    top: 0;
    content: '';
    -webkit-transform-origin: $button-size/14 center;
            transform-origin: $button-size/14 center;
  }
  &:before {
    top: $button-size/4;
  }
  &:after {
    top: -$button-size/4;
  }
}

//common to all three-liners
.lines-button:hover {
  .lines {
    &:before {
      top: $button-size/3.5;
    }
    &:after {
      top: -$button-size/3.5;
    }
  }
}

//three-lines to x
.lines-button.x.close{
    background-color: transparent;
    color: $white;
    z-index: 99999;
  .lines {
    padding: 0 0 .3em .8em;
    background: transparent;
    margin-bottom: .2em;
    &:before, &:after{
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      top:0;
      width: $button-size;
    }
    &:before{
      -webkit-transform: rotate3d(0,0,1,45deg);
              transform: rotate3d(0,0,1,45deg);
    }
    &:after{
      -webkit-transform: rotate3d(0,0,1,-45deg);
              transform: rotate3d(0,0,1,-45deg);
    }
  }
}

#brand__logo {
  padding: 1em .3em 0 1em;
  width: 5rem;
}

ul.off-canvas-list {
    margin-top: 2em;
    text-align: center;
    li a {
      color: $ghost;
      text-transform: uppercase;
      &.button:hover {
        color: $white;
        background-color: #BE1E2D;
      }
      &:hover {
        color: $white;
        background-color: transparent;
        border-left: 4px solid $red !important;

      }
    }
}

.hero {
  background: url("/img/front--medium.jpg") no-repeat center top;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
#data-container {
  //box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.52);
}
.hero:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  //background-image: linear-gradient(to bottom right, #fefefe, #ffffff);
  //background-image: linear-gradient(to bottom right, #1e1e1e, #000000);
  opacity: .4 ;
}
.hero .intro {
  //padding: 3rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero {
  h1 {
  color: #fff;
  font-size: 12vw;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.46);
  padding-top: 3rem;
  //text-align: center;
  }
  h3 {
    //font-family: $font-family-serif;
    color: $ghost;
    font-size: rem-calc(27);
    font-weight: 400;
    margin: 0 0 1rem 0;

    &:first-letter {
      text-transform: uppercase;
    }
  }
  .subtagline {
    color: $silver;
    margin: 0;
    padding: 0;
    font-size: rem-calc(21);
  }
}

.hero p {
  color: #fff;
  line-height: 1.75em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

.hero .tech-img {
  background: url("/img/hero.jpg") no-repeat center center;
  background-size: cover;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}


section {
  background-color: $white;
  //padding-top: rem-calc(80);
}
.section__header {
  padding-top: 6rem;
  margin-bottom: rem-calc(64);
}
.section__title {
  font-size: 10vw;
  font-weight: 700;
  color: $charcoal;
  //background-color: rgba(255, 255, 255 , .5);
}
#services .section__title {
  font-size: 15vw;
}
.section__subtitle {
  margin: 0;
  padding-top: 2rem;
  font-weight: 700;
  color: #9d1f20;
}
.subheading {
  font-family: $font-family-sans-serif;
  color: $charcoal;
  margin: 0 0 1rem 0;
}
.link__section {
  font-family: $font-family-brand;
  padding: 3rem 0;
  a {

    font-size: 7vw;
    font-weight: 700;

    text-decoration: underline;
    text-decoration-color: $red;
    transition: 0.2s ease all;
    p:first-letter {
      text-transform: uppercase;
    }
  }
  a:hover, a:focus {
    color: scale-color($red, $lightness: 20%);
    text-decoration-color: scale-color($red, $lightness: 20%);
    //font-size: 110%;
  }
}
/* SERVICES */
.services__list, .trophies__list {
  margin: 0;
}
.icon {
  padding-top: 1rem;
  //height: 8rem;

}
.card {
  //box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .2);
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  font-family: $font-family-sans-serif;
  transition: 0.6s ease;
  min-height: 80vh;
  .card__title {
    padding-top: 2rem;
    margin-bottom: 0;
    color: $charcoal;
    font-size: 8vw !important;
    text-transform: uppercase;
    //margin: 0;
  }

  .card__description {
    font-size: rem-calc(18);
    p {
    color: $charcoal;
    //font-weight: 700;
    //font-family: $font-family-brand;
    margin-left: 0;
    font-size: rem-calc(18);
    //padding: 2rem;
    //margin-bottom: 1rem;
    }
    li {
      transition: 0.3s ease;
      font-size: rem-calc(21);
      color: #C64F48;
      padding-bottom: 2rem;
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
      &.active {
        font-weight: 700;
        font-size: 150%;
        text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.3);
        text-decoration: none;
      }
    }
  }
  &:hover {
    background-color: rgba(255, 255, 255, .70);
    //box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .2);
  }
  .button {
    //position: absolute;
    //bottom: 10%;
    //width: 15em;
    //left: 40%;
    //right: 10%;

  }
  .card__detail {
    &:nth-child(3n+1) {
      display: block;
    }
    display: none;
    transition: 0.6s ease;
    //padding: 2rem;
    //box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .2);
  }
}
.inline-list > li {
  float: none;
  display: inline-block;
}
.button--shadow {
  &:hover, &:focus {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .2);
  }
}

/** SERVICE **/
.service__details {
  margin: 0;
}
.service__detail {
  padding: 5rem 0 !important;
}
ul.inline-list {
  margin-bottom: 0;
  li:first-child {
    margin-left: 0;
  }
}
.media {
  //display: none;
  padding: 2rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  .media__img {
    img {
      padding-top: 0;
      height: auto;
      max-height: 15rem;
      margin-bottom: 1.5rem;
      vertical-align: top;
    }
  }

}
.media__content {
  margin-bottom: 3rem;
  //padding-left: 1rem;
  //border-left: 12px solid $iron;
 h2 {
   color: $white;
   margin: 0 0 .5rem 0;
   font-weight: 700;
   text-transform: capitalize;
 }
 h3 {
   margin-bottom: 1rem;
 }
 p {
   color: $charcoal;
   font-size: rem-calc(16);
   //font-weight: 300;
 }
}

.bg--blue {
  background: linear-gradient(135deg, rgba(68,168,161,1) 0%, rgba(68,168,161,1) 40%, rgba(43,156,147,1) 40%, rgba(43,156,147,1) 100%);

}
.bg--green {
background: linear-gradient(135deg, rgba(44,173,190,1) 0%, rgba(44,173,190,1) 50%, rgba(37,156,174,1) 50%, rgba(37,156,174,1) 100%);
}
.bg--purple {
background: linear-gradient(135deg, rgba(123,105,168,1) 0%, rgba(123,105,168,1) 40%, rgba(102,85,157,1) 40%, rgba(102,85,157,1) 100%);
}
.bg--orange {
background: linear-gradient(45deg, rgba(230,137,50,1) 0%, rgba(230,137,50,1) 50%, rgba(225,109,47,1) 50%, rgba(225,109,47,1) 100%);
}
.bg--red {
background: linear-gradient(45deg, rgba(148,60,55,1) 0%, rgba(148,60,55,1) 30%, rgba(198,79,72,1) 30%, rgba(198,79,72,1) 100%);
}
.bg--yellow {
  background: linear-gradient(45deg, rgba(233,158,54,1) 0%, rgba(233,158,54,1) 50%, rgba(230,185,69,1) 50%, rgba(230,185,69,1) 100%);
}
.button--green {
  background-color: transparent;
  border: 2px solid rgba(44,173,190,1);
  transition: 0.6s ease;
  &:hover, &:focus, &.active {
    color: $white;
    background-color: rgba(44,173,190,1);
  }
}
.button--orange {
  background-color: transparent;
  border: 2px solid rgba(230,137,50,1);
  transition: 0.6s ease;
  color: $charcoal;
  &:hover, &:focus, &.active {
    color: $white;
    background-color: rgba(230,137,50,1);
  }
}
.button--purple {
  background-color: transparent;
  border: 2px solid rgba(123,105,168,1);
  transition: 0.6s ease;
  &:hover, &:focus, &.active {
    color: $white;
    background-color: rgba(123,105,168,1);
  }
}
/*.service__detail:nth-child(2n) {
  background-color: transparent;
  .media__content h2 {
    color: $charcoal;
  }
  .media__content p {
    color: $black
  }
}*/

/* PORFOLIO */
#trophy--apicatando {
  background: url('/img/porfolio/apicatando-main.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#trophy--finca {
  background: url('/img/trophy-finca.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.trophy {
  position: relative;
  height: 70vh;
  transition: 0.6s ease;
  &:hover {
    .trophy__detail {
      padding-top: 5rem;
    }
    &:before {
      background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
      opacity: .8
    }
  }
}
.trophy:before {

  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  //background-image: linear-gradient(to bottom right, #fefefe, #ffffff);
  background-image: linear-gradient(to bottom right, #1e1e1e, #000000);
  opacity: .6 ;
}
  //height: 70vh;
.trophy__detail {
  transition: 0.6s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  width: 100%;
  h2 {
    color: $white;
  }
}

.project {
  background-color: $white;
  padding-top: 3rem;
  img {
    padding: 2rem 0 4rem 0;
    width: 100%;
  }
  h2 {
    color: $red--dark;
    margin-bottom: 2rem;
    font-weight: 700;
    text-transform: capitalize;
  }
  h3 {
    text-transform: uppercase;
    font-size: 6vw;
    margin-bottom: .5rem;
  }
  p {
  color: $charcoal;
  }
  .project__intro {
    margin-bottom: 3rem;
  }
  .project__section {
    display: none;
  }
  .project__section:first-child {
    display: block;
  }
  .button--border {
    color: $charcoal;
    &:hover, &:focus, &:active, &.active {
      color: $white;
      background-color: scale-color($button-bg-color, $lightness: 20%);
    }
  }
}
.project, .card__description {
  .button--border {
    color: $charcoal;
    &:hover, &:focus, &:active, &.active {
      color: $white;
      background-color: scale-color($button-bg-color, $lightness: 20%);
    }
  }
}
.button.button--border {
  background-color: transparent;
  border-width: 1px;
  text-transform: uppercase;
  &:hover, .active {
    background-color: scale-color($button-bg-color, $lightness: 20%);
  }
  &.success:hover {
  background-color: scale-color($success-color, $lightness: 20%);
  }
}
.buttons--middle {
  //width: 50vw;

  //transform: translateY(-50%);
  //margin: 0 auto;
}

/* START PROJECT FORM */

/* material form */
.group {
  position:relative;
  margin-bottom: 64px;
}
input.material, textarea.material {
  font-size: rem-calc(23);
  //padding:10px 10px 10px 5px;
  padding: 0;
  display:block;
  //width:300px;
  border:none;
  border-bottom:1px solid $jumbo;
  margin-bottom: 0;
  box-shadow: none;
  min-height: 0;
}
input.material:focus, textarea.material:focus {
  outline:none;
  background: transparent;
}
label, label.material {
  font-size: rem-calc(23);
  color: $jumbo;
}
label.material          {
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:0;
  top:0px;
  transition:0.2s ease all;
}

/* active state */
input.material:focus ~ label, textarea.material:focus ~ label, label.input-filled {
  font-size: rem-calc(23);
  top:-45px;
  color:#8C8C8C;
}
/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#BE1E2D;
  transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, textarea.material:focus ~ .bar:before, textarea.material:focus ~ .bar:after, input:focus ~ .bar:after {
  width:50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#BE1E2D; }
  to    { width:0; background:transparent; }
}
/* END material form */

[data-abide] .error small.error, {
  background: transparent;
  color: #BE1E2D;
  font-size: rem-calc(18);
}
.sliderOutput {
  font-size: 2rem;
}
.dropzone, input, textarea {
  border: none;
  background-color: transparent !important;
}
form .section__subtitle {
  margin-bottom: 3rem;
}
.uploader {
  padding: 1rem;
  border: dashed 1px gray;
  font-size: rem-calc(23);
  &:hover {
    cursor: pointer;
  }
}
.dz-message {
  color: $charcoal;
  span {
    display: block;
    font-family: $font-family-brand;
  }
}
.dz-filename {
  color: $charcoal;
}
.dropzone .dz-preview.dz-image-preview {
  background-color: transparent;
}

#data-container {
  position: relative;
}

/*** SIDE MENU ***/
.top-bar {
  transition: 0.6s ease;
  border-bottom: 1px solid $vapor;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .2);
}
.tab-bar {
  //padding: 1em 0;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .2);
  z-index: 9999;
}
.top-bar-section ul li > a.button {
  background-color: transparent;
}
.top-bar-section ul li > a.button {
  color: $charcoal;
}
#side-menu {
  background-color: rgba(30, 30, 30, .98);
  width: 15rem;
  position: fixed;
  right: -15rem;
  top: 0;
  bottom: 0;
  z-index: 9990;
  transition: 0.3s ease;

}
#side-menu.menu-open {
  right: 0;
  box-shadow: 0 5px 10px 0 #757575, 0 4px 5px 0 #a8a8a8;
}

.exit-menu {
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: background 0.3s ease 0s;
  z-index: 999;

}
#menu-button {
  z-index: 9999;
  position: fixed;
  top: .8em;
  right: .8em;
  transition: 0.5s ease;
//  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .5);

}

.button.button--big {
  margin-top: 2rem;
  padding: 2rem 3rem;
  text-transform: uppercase;
  font-size: rem-calc(23);
}

/*** ABOUT ***/
.member__image {
  img {
    border-radius: 50%;
    width: 100%;
    border: 10px solid $ghost;
    box-shadow: 0 1px 3px 0 $aluminum, 0 1px 1px 0 $ghost
  }
}
.member__description {
  h3 {
    line-height: 1;
    margin: .5rem 0 0 0;
    font-weight: 700;
    color: $charcoal;

  }
  h4 {
    font-size: rem-calc(18);
    font-family: $font-family-sans-serif;
  }
  p {
    font-size: rem-calc(18);
    color: $steel;
    margin: .3rem 0 .5rem 0;
  }
}


/*** CONTACT ***/
#contact {
  background-color: transparent;
  a {
  }
}

.contact-card {
  box-shadow: 0 1px 3px 0 $aluminum, 0 1px 1px 0 $ghost;
  position: relative;
  padding-top: 100%;
  border-radius: 50%;
  height: auto;
  background-color: #E04C4A;
  margin-bottom: 2rem;
  border: 4px solid $vapor;
  transition: 0.3s ease;
  &:hover, &:focus {
    box-shadow: 0 5px 10px 0 #757575, 0 4px 5px 0 #a8a8a8;
  }
  .contact-card__content {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
    h2  {
      padding: 0;
      color: $white;
    }
    h3 {
      color: $vapor;
      margin: .3rem 0 0 0;
    }
    span {
      color: #FFD8D8;
      font-size: rem-calc(23);
    }
  }
}
#contact-phone {
  background-color: #43ac6a;
  span {
    color: #D6FFE5;
  }
}
#contact-mail {
  background-color: #3294B6;
  span {
    color: #C9F1FF;
  }
}

/*** MEDIA QUERIES ***/
@media #{$small-only} {
  .project, .card__description {
    .button--border {
      font-size: rem-calc(12);
      padding: .6rem .6rem !important;
    }
  }
}

@media #{$medium-up} {
  .section__title {
    font-size: 10vw;
  }
  .medium-pl {
    padding-left: 1rem;
  }
  .hero .tech-img {
    height: 18rem;
    width: 18rem;
  }
  .hero h1 {
    padding-top: 4.5rem;
    font-size: 6vw;
  }
  .hero p {
    font-size: 2vw;
  }

  .top-bar {
    text-align: center;
  }
  ul.center-buttons {
    display: inline-block;
  }
  .card {
    padding: 0rem 1rem 1rem 1rem;
  }
  .media__content {
    padding-left: 4rem;
  }
  .service__detail {
    padding: 3rem 1rem !important  ;
  }
  .contact-card {
    padding-top: 50%;
  }
}

@media #{$large-up} {
  .hero h3 {
    font-size: rem-calc(39);
  }
  .brand__name {
    margin-right: 3rem !important;
  }
  .service__details .media{
    padding: 0 10rem;
  }
  .link__section a {
    font-size: 5vw;
  }
  .card .card__title {
    font-size: 5vw !important;
  }
  .card .card__detail {
    border-top: none;
  }
  .card .card__description {
    font-size: rem-calc(21);
    p {
    color: $charcoal;
    font-size: rem-calc(27);
    }
  }
  section p {
    font-size: rem-calc(23);
  }
  .media__content, .project {
    p {
      font-size: rem-calc(21);
    }
  }
  .contact-card {
    padding-top: 33.33%;
  }
  .project {
      h3 {
      font-size: 4vw;
    }
  }

}
@media #{$xlarge-up} {
  .service__details .media{
    padding: 0 20rem;
  }
  .section__header {
    padding-top: 9rem;
  }
  .section__title {
    font-size: 12vw;
  }
  #start-project, #about, #porfolio {
    .section__title {
      font-size: 5vw;
    }
  }
  .project {
      h3 {
      font-size: 3vw;
    }
  }
}
@media #{$xxlarge-up} {

}
